#App{
    background-color:#5552ff;
    height:100%;
    width:100%; 
    overflow:hidden;
    min-width:650px;
    min-height:100vh;
    z-index:2;
    padding-bottom:20px;
} 
.wrapper{
    height:100%;
    overflow:none;
    z-index:0;
    width:100%;
    position:relative;
}
h2{
    text-align:center;
}
.background{
    z-index: -1;
    position:fixed;
    width:400%;
    height:3000px;
    left:-1000px;
    top: 0;  
}
.zigzag {
    z-index: -1;
    margin-top:100px;
    background: linear-gradient(135deg,rgb(98, 161, 233)  25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, rgb(70, 178, 240) 25%, transparent 25%) -50px 0,
        linear-gradient(45deg, #4f9fe0 25%, transparent 25%),
        linear-gradient(-45deg, rgb(88, 145, 211) 25%, transparent 25%);
    background-size: 100px 100px;
    transform: rotate(30deg);
}
 
.center{
    text-align:center;
}
.hidden{
    display:none;
}
@keyframes titlebg {
    0%   {background-color:rgb(72, 243, 212); left:0px; top:0px;}
    15%  {background-color:rgb(211, 129, 252); left:200px; top:0px;}
    25%  {background-color:rgb(255, 151, 234); left:200px; top:0px;}
    39%  {background-color:rgb(249, 177, 255); left:200px; top:0px;}
    50%  {background-color:rgb(255, 145, 193); left:200px; top:200px;}
    65%  {background-color:rgb(255, 151, 234); left:200px; top:0px;}
    75%  {background-color:rgb(182, 139, 250); left:0px; top:200px;}
    85% {background-color:rgb(136, 160, 255); left:0px; top:0px;}
    100%   {background-color:rgb(72, 243, 212); left:0px; top:0px;}

}
.title{
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-top:3px solid black;
    border-right:3px solid black;
    border-bottom:3px solid black;
    padding-left:5%; 
    padding-right:5%;
    margin-left:-58%;
    padding-bottom:38px;
    margin-right:-22%;
    padding-top:35px;  
    animation-name: titlebg;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    background-position: -200px 200px;
    background-size:100%;
    transform: rotate(-8deg);  
}
.list-icon{
    color:#8b8b8b;
}
.list-icon:hover{
    color:#2e2e2e;
}
.title-text{
    transform: rotate(-0deg);
    color:white;
    font-family: 'Yeseva One', cursive;
    font-size:9vmin;
    line-height:11vmin;
    text-align:center;
    width:100%;
    margin:0 auto;
    color: pink; 
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
}   


.navigation{
    min-width: 805px;
    text-align:right;
    padding-top:20px;
    width:100%;
    padding-right:10%;
    padding-left:10%;
    position:relative;
    align-items:left;
}

.navItems{
    padding:5px;
    margin:0 auto;
    left:-20px;
    min-width:100%;
    position:relative;
    align-items:left;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nav-item{
    width:12%;
    min-width:105px;
    height: 20px;
    font-family: 'Yeseva One', cursive;
    color:black;
    cursor:pointer;
    text-align: center;
    background-color:white;
    margin-left:10px;
    font-size:20px;
    margin-right:10px;
    padding-top:15px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right:3px solid black;
    border-bottom:3px solid white;
    margin-bottom:-15px;
    border-top-right-radius:25px;
    border-top-left-radius:10px;
    padding-bottom:12px;
    padding-left:15px;
    padding-right:15px;
    display:inline-block;
}
.cat{
    width: 80px;
    height:45px;
    padding-bottom:10px;
    z-index:1;
    background-size:99%;
    margin-top:-53px;
    margin-left:auto;
    margin-right:auto;
    
}
.nav-item:hover .cat{
    background-image:url('../img/cat1.png');

}

.nav-item.active .cat{
    background-image:url('../img/cat1.png');
}
.nav-item.active.meowing .cat{
    background-image:url('../img/cat2.png');
}
.nav-item .cat:hover{
    background-image:url('../img/cat1.png');
}
.nav-item.inactive{
    border-bottom:3px solid black;

}
.page{ 
  padding-top:25px;
  padding-left:25px; 
  min-width: 500px;
  z-index:1;
  padding-right:40px;
  width:90%;
  margin:0 auto;
  height:900px;
  background-color:white;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.introduction{

}
.small-social-container{
    margin:0 auto;
    width:100%;
    text-align:center
}
h3{
    text-align:center
}
.music{
    min-height:2200px; 
}
.songs{
    padding-top:0px;
    padding:10px;
}
.song{
    padding:5px;
}
.portfolio{
 min-height:1600px;
}

.footer{
    width: 90%;
    margin: 0 auto;
    height: 30px;
    background-color: white;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom:30px;
    text-align:center;
    box-shadow: 15 45px 0px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.footer-blurb{
    padding:5px;
}
.social{
    display:inline-block; 
    padding:15px;
    padding-left:5px;
    font-size:18px;
}
@media screen and (max-width: 600px) {
    .social{
        width:100%; 
    }
}
@media screen and ( min-width:600px ) and (max-width: 1000px) {
    .social{
        width:50%; 
    }
}
@media screen and (min-width: 1000px) {
    .social{
        width:33%; 
    }
}

.link{
    padding:40px;    
}
.social > .link{
    width:100%;
}

.twitter{
    color:#0aabed;
}
.soundcloud{
    color:#ff5604;
}
.github{
    color:#000;
}
.facebook{
    color:#3d5997;
}
.instagram{
    color:#e94375;
}
.linkedin{
    color:#047fb1;
}
.youtube{
    color:#ff3333;
}
.tumblr{
    color:#2d4762;
}
.email{
    color:#7f7f7f;
}
.mixcloud{
    color:#09be01;
}
.mixcloud:hover{
    color:#09be01;
}
.twitter:hover{
    color:#0aabed;
}
.soundcloud:hover{
    color:#ff5604;
}
.github:hover{
    color:#000;
}
.facebook:hover{
    color:#3d5997;
}
.instagram:hover{
    color:#e94375;
}
.linkedin:hover{
    color:#047fb1;
}
.youtube:hover{
    color:#ff3333;
}
.tumblr:hover{
    color:#2d4762;
}
.email:hover{
    color:#7f7f7f;
}
.dj-pic{
    background-image:url("../img/ariosa.jpg");
    background-size: cover;
    width:100%;
    height:400px;
}
.fas{
    min-width:50px;
    min-height:50px;
}
.list-item{
    display: inline-block;
    padding-left:20px;
    padding-right:20px;
}

.charactersheet{
    width:100%;
    
    margin:0 auto;
    max-width:500px;
    height:260px;
    background-size:contain;
    background-image:url("../img/screenshots/charactersheet.png");

}
.cvlturecrew{
    width:100%;
    margin:0 auto;
    height:200px;
    max-width:500px;
    background-size:contain;
    background-image:url("../img/screenshots/cvlturecrew.png");

}
.ecommerce{
    width:100%;
    margin:0 auto;
    height:215px;
    text-align:center;
    max-width:500px;
    background-size:contain;
    background-image:url("../img/screenshots/laravel_admin.png");
}
.website{
    padding-bottom:40px;
    text-align:center;
}
.songs{
    min-height:1300px;
}